{% extends 'index/index.html.twig' %}

{% block title %}Interview{% endblock %}

{% block banniere %}
    <div class="banniere banniereInterview"></div>
{% endblock %}

{% block titleCategory %}  
        <div class="titleCategory">Latest Interviews</div>
{% endblock %}

        {% block firstFunction %} 
            {% for article in firstInterview %}
                <a class="col-lg-5" href="{{ path('viewInterview', {'id': article.id}) }}">
                    {{ parent() }}
                </a>
            {% endfor %}
        {% endblock %}

        {% block listFunction %} 
            {% for article in listInterview %}
                <a class="col-lg-3" href="{{ path('viewInterview', {'id': article.id}) }}">
                    {{ parent() }}
                </a>
            {% endfor %}
        {% endblock %}
