.banniereInterview {
    width: 100%;
    height: 200px;
    background-image: url(../import/picture/BanniereInterviews.png);
    background-size: 100%;
    background-position: 30% 25%;
    z-index: 0;
}