{% extends 'layout.html.twig' %}
	
    {% block style %}
        {{ parent() }}
    {% endblock %}
	{% block title %}Contact Page{% endblock %}
	{% block javascripts %}
		{{ parent() }}
	{% endblock %}

{% block body %}


    <div>
<p>essage envoyé avec succès!!!</p>
    </div>


{% endblock %}
