@font-face {
    font-family: "modernType";
    src: url("Police/modernType/modernTypeWriter.ttf") format('truetype');
}

@font-face {
    font-family: "malindaScript";
    src: url("Police/MalindaScript.ttf") format('truetype');
}

@font-face {
    font-family: "typeWriterThin";
    src: url("Police/Typewriter/JMH Typewriter-Thin.ttf");
}

@font-face {
    font-family: "typeWriterBlack";
    src: url("Police/Typewriter/JMH Typewriter-Black.ttf");
}

@font-face {
    font-family: "splendidN";
    src: url("Police/SplendidN.ttf");
}

@font-face {
    font-family: "splendidB";
    src: url("Police/SplendidB.ttf");
}

@font-face {
    font-family: "splendidL";
    src: url("Police/Splendidl.ttf");
}